* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.weather-widget {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-section, .side-section {
    padding: 20px;
    text-align: center;
}

.main-section {
    flex: 2;
    border-right: 1px solid #ddd;
}

.side-section {
    flex: 1;
    text-align: center;
}

.location-date h2 {
    font-size: 36px;
    margin-bottom: 5px;
}

.location-date p {
    font-size: 16px;
    color: gray;
}

.temperature h1 {
    font-size: 96px;
    margin: 10px 0;
}

.temperature p {
    font-size: 24px;
    color: gray;
}

.details {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.forecast {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.forecast-item {
    text-align: center;
}

.forecast-item.active {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.hourly-forecast {
    margin-top: 20px;
    text-align: center;
}

.hourly-item {
    display: inline-block;
    width: 70px;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    margin: 5px;
    border-radius: 5px;
    font-size: 14px;
}

.greeting p {
    font-size: 20px;
    margin: 5px 0;
}

.side-temp h2 {
    font-size: 48px;
    margin: 10px 0;
}

.side-details p {
    font-size: 14px;
    margin: 2px 0;
}

.search-section{
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 200px;
    margin-right: 10px;
    font-size: 16px;
    margin-top: 20px;
}

.search-section button {
  
    margin: 10px;
    padding: 10px 20px;
    background-color: #808992;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}


.search-section button:hover {
    background-color: #adb2b7;
}


@media screen and (max-width: 768px) {
    .weather-widget {
        margin-top: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .search-section{
        margin-top: 100px;
    }

    .main-section, .side-section {
        width: 100%;
        padding: 20px;
    }

    .main-section {
        border-right: none;
        border-bottom: 1px solid #ddd;
    }

    .forecast {
        flex-wrap: wrap;
        padding: 10px;
    }

    .hourly-item {
        width: 45%;
        margin: 5px auto;
    }
}
